@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.container {
  text-align: center;
  border-radius: 20px;
  display: grid;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #fafafa;
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  border-radius: 20px;
  background-image: url("../Assets/Background.svg");
  background-position: center center;
  position: relative;
}

.topPart {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 24px 10px;
  height: 100px;
}

.midPart {
  height: 150px;
}

.normalText {
  font-size: 14px;
}
.midPart input {
  width: 60%;
  background: #1e1e29;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
}
.botPart {
  display: contents;
}
.row {
  display: flex;
}
.icon {
  text-align: justify;
  width: 100%;
}
.icon img {
  vertical-align: middle;
}
.data {
  text-align: end;
  padding-right: 10px;
}
